<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Response</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<img src="/static/temp/main.jpg">
{% if humans %}
    <br>
    {% for i in humans %}
        <img src="/static/temp/{{ i.name }}.jpg">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse{{ i.person_ID }}">
                            {{ i.name }}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ i.person_ID }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form onsubmit="sendData(this); return false;">
                            <input type="hidden" name="id" value="{{ i.person_ID }}">

                            <label>
                                <p>Nom:</p>
                                <input type="text" name="name" value="{{ i.name }}">
                            </label>
                            <br>
                            <label>
                                <p>Number of times caught on camera:</p>
                                <input type="number" name="seen" value="{{ i.seen }}">
                            </label>
                            <br>
                            <label>
                                <p> Number of violent accident registered:</p>
                                <input type="number" name="violence" value="{{ i.violence }}">
                            </label>
                            <br>
                            <label>
                                <p>Number of incident registered:</p>
                                <input type="number" name="incident" value="{{ i.incident }}">
                            </label>
                            <hr>

                            <input type="submit">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endif %}

<script>
    function sendData(form) {
        let elements = form.elements;
        let obj = new FormData();

        for(let i = 0 ; i < elements.length ; i++)
        {
            let item = elements.item(i);


            obj.append(item.name, item.value);
        }
        const XHR = new XMLHttpRequest();
        // Define what happens in case of error
        XHR.addEventListener("error", function (event) {
            console.error('Oops! Something went wrong.');
        });

        // Set up our request
        XHR.open("POST", "/update");
        // The data sent is what the user provided in the form
        XHR.send(obj);
        return false
    }
    // ...and take over its submit event.

</script>
</body>
</html>